<section>
    
    
    <form action="" method="" role="form-horizontal">
        <legend>Recherche de trajet</legend>
        <div class="form-group row">
            <label class="control-label col-sm-12">Heure de départ : </label>

            <div class="col-sm-6">
                <select class="form-control" ng-model="journey.time.hours" id="select_heure">
                    <option selected="selected" class="hidden" value="">Heure :</option>
                    <option value="00">00</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                </select>
            </div>
            <div class="col-sm-6">
                <select class="form-control" ng-model="journey.time.minutes" id="select_minute">
                    <option selected="selected" class="hidden" value="">Minute :</option>
                    <option value="00">00</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Date de départ : </label>
            <p class="input-group">
                <input ng-focus="openDatePopup()" type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="journey.time.date" is-open="datePopup.opened" close-text="Close" placeholder="Date du trajet" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="form-group">
            <label for="depart">Lieux de départ :</label>
            <input 
                ng-model="addressStart.address"
                id="address"
                type="text"
                class="form-control"
                autocomplete="off"
                ng-keypress="onKeypressAddressStart($event)"
                ng-focus="onFocusAddressStart()"
                ng-blur="onBlurAddressStart($event)"
                ng-change="onChangeAddressStart($event)"
            />
            <div class="list-group">
                <button ng-repeat="placeStart in addressStart.locations.places" class="ng-class: placeStart.selected; suggestion-autocomplete list-group-item list-group-item-action">
                    <span class="placeName">{{ placeStart.name }}</span>
                </button>
            </div>
        </div>

        <div class="form-group" ng-show="!IsASearch">
            <div class="row" ng-repeat="step in steps">
                <label for="step{{ $index }}" class="control-label col-sm-12">Étapes {{ $index + 1 }}:</label>
                <div class="col-sm-11">
                    <input 
                        ng-model="step.address"
                        id="step{{ $index }}" 
                        type="text"
                        class="form-control"
                        autocomplete="off"
                            ng-keypress="onKeypressAddressStep( $index, $event )"
                            ng-focus="onFocusAddressStep( $index )"
                            ng-blur="onBlurAddressStep( $index, $event )"
                            ng-change="onChangeAddressStep( $index, $event )"
                    >
                    <div class="list-group">
                        <button ng-repeat="placeStep in steps[ $index ].locations.places" class="ng-class: placeStep.selected; suggestion-autocomplete list-group-item list-group-item-action">
                            <span class="placeName">{{ placeStep.name }}</span>
                        </button>
                    </div>
                </div>
                <div ng-show="step.last" class="col-sm-1 button-add">
                    <button ng-click="newStep()" class="btn btn-success btn-circle" data-toggle="tooltip" data-placement="top" title="Ajouter une étape">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
                <div ng-show="!step.last" class="col-sm-1 button-remove">
                    <button ng-click="removeStep($index)" class="btn btn-danger btn-circle" data-toggle="tooltip" data-placement="top" title="Ajouter une étape">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="depart">Lieux d'arrivé :</label>
            <input
                ng-model="addressEnd.address"
                id="address"
                type="text"
                class="form-control"
                autocomplete="off"
                ng-keypress="onKeypressAddressEnd($event)"
                ng-focus="onFocusAddressEnd()"
                ng-blur="onBlurAddressEnd($event)"
                ng-change="onChangeAddressEnd($event)"
            />
            <div class="list-group">
                <button ng-repeat="placeEnd in addressEnd.locations.places" class="ng-class: placeEnd.selected; suggestion-autocomplete list-group-item list-group-item-action">
                    <span class="placeName">{{ placeEnd.name }}</span>
                </button>
            </div>
            
        </div>
        
        

    </form>
    <button class="btn btn-primary" ng-click="publish()">Publier mon annonce</button>


</section>